{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    <title>Ground Zero</title>
</head>
<body>
    <h1>Bienvenido Artista</h1>
    <div>
    <div>
        <h1>Lista de Artistas Ground Zero</h1>
        <br>
        
        <div id="idMensajes">
            {% if mensaje %}
                {{mensaje}}
            {% endif %}
        </div>
        <br>
        <table>
            <thead>            
                <th>Rut</th>
                <th>Alias</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Correo</th>
                <th>Modificar</th>
                <th>Eliminar</th>            
            </thead>
            {% for x in artistas %}
                <tr>
                    <td>{{ x.rut }}</td>
                    <td>{{ x.alias }}</td>
                    <td>{{ x.first_name }}</td>
                    <td>{{ x.last_name }}</td>
                    <td>{{ x.email }}</td>
                    <td><a href="{% url 'artistas_edit' pk=x.rut %}">Modificar</a></td>
                    <td><a href="{% url 'artistas_del' pk=x.rut %}">Eliminar</a></td>
                </tr>
            {% endfor %}
        </table>
        <br>
        <div >
            <button type="button" >
                <a href="{% url 'artistas_add' %}" >Agregar</a>
            </button>
        </div>
    </div>
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function(){
        $("#idMensajes").delay(2000).fadeOut("slow");
    });
</script>
</body>
</html>