<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>GroundZero</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>

<body>

    <div class="container mt-4">
        <h1 class="titulo text-center">Agregar Obras</h1>
        <br><br>
        <form action="" method="POST" class="text-center jus-form">
            {% csrf_token %}

            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Nombre</span>
                    </div>
                    <input type="text" name="nombre" value="{{obra.nombre}}" class="form-control">
                </div>
            </div>

            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Material</span>
                    </div>
                    <input type="text" name="material" value="{{obra.material}}" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Técnica</span>
                    </div>
                    <input type="text" name="tecnica" value="{{obra.tecnica}}" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Tamaño</span>
                    </div>
                    <input type="number" name="tamaño" value="{{obra.tamaño}}" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Precio</span>
                    </div>
                    <input type="number" name="precio" value="{{obra.precio}}" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Stock</span>
                    </div>
                    <input type="number" name="stock" value="{{obra.stock}}" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Pedido</span>
                    </div>
                    <select name="pedido" class="custom-select">
                        {% for choice_value, choice_label in obra.pedido_choices %}
                            <option value="{{ choice_value}}" {% if obra.pedido == choice_value %}selected{% endif %}>
                                {{ choice_label }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Categoría</span>
                    </div>
                    <select name="categoria" class="custom-select">
                        {% for choice_value, choice_label in obra.categoria_choices %}
                            <option value="{{ choice_value}}" {% if obra.categoria == choice_value %}selected{% endif %}>
                                {{ choice_label }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Descripción</span>
                    </div>
                    <input type="text" name="descripcion" value="{{obra.descripcion}}" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Imagen</span>
                    </div>
                    <input type="file" name="imagen" accept="image/*" class="form-control">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <div class="text-center">
                        <button type="submit" class="btn btn-info btn-lg" name="opcion"
                            style="font-family: Verdana, Geneva, Tahoma, sans-serif; background-color: #1b3248;">Agregar</button>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <div class="text-center">
                        <button type="button" class="btn btn-info btn-lg"
                            style="color: aliceblue;font-family: Verdana, Geneva, Tahoma, sans-serif;">
                            <a href="{% url 'crud_obras' %}" style="color: aliceblue;">Volver</a>
                        </button>
                    </div>
                </div>
            </div>
        </form>
        <br>
        <div id="idMensajes">
            {% if mensaje %}
            {{mensaje}}
            {% endif %}
        </div>
    </div>
</body>

</html>
